{% include head.html %}

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul class="right hide-on-med-and-down">
        <li><a href="https://twitter.com/YassineJaffoo"><i id="social-tw" class="fa fa-twitter-square fa-3x social" style="font-size:26px"></i></a></li>
        <li><a href="https://www.linkedin.com/in/myjaffoo/"><i id="social-li" class="fa fa-linkedin fa-3x social" style="font-size:26px"></i></a></li>
        <li><a href="mailto:info@myjaffoo.co.uk"><i id="social-em" class="fa fa-envelope-square fa-3x social" style="font-size:26px"></i></a></li>
        <li><a href="https://github.com/myjaffoo"><i id="social-gh" class="fa fa-github fa-3x social" style="font-size:26px"></i></a></li>
      </ul>
    </div>
  </nav>
</div>


<div id="home" class="section transparent scrollspy">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center black-text" style="font-size: 4.2rem">{{ site.title }}</h1>
        <div class="row center">
          <h5 class="header col s12 black-text" style="font-size: 1.64rem">{{ site.description }}</h5>
        </div>
      </div>
    </div>
    <!--<div class="parallax"><img src="{{site.parallax_image_one}}" alt="Unsplashed background img 1"></div>-->
  </div>
</div>

<script>
$('.container .header').textillate({
  in: { effect: 'splat' },
  out: { effect: 'foldUnfold', sync: true }
  });
$('.container .row .header').textillate({
  in: { effect: 'splat' },
  out: { effect: 'foldUnfold', sync: true }
  });

</script>

<div class="container" style="padding:20px;">
  <div id="about" class="section scrollspy">
    <div class="row center col">
      <div id="profile">
        <img src="{{site.about_photo}}" class="circle responsive-img">
      </div>
      <div id="intro-div" class="card">
        <br>
        <p style="font-size: 18px">
          {{ site.about_description_one }}<br><br>
          {{ site.about_description_two }}<br><br>
          {{ site.about_description_three }}
        </p>
        <!--<div class="row center">-->
            <!--<a href="cv/cv-file.docx" download="cv-file.docx" class="btn waves-effect waves-light"><i class="material-icons left">arrow_downward</i>Download CV</a>-->
            <!--<a href="#contact" class="btn waves-effect waves-light"><i class="material-icons left">person</i>Contact Me</a>-->
        <!--</div>-->
        <br>
      </div>
    </div>
  </div>
</div>


<div class="container" style="padding:20px;">
  <div id="portfolio" class="section scrollspy">

  <h3 style="text-align:center;">{{site.portfolio_heading}}</h3>

{% include portfolio_{{site.portfolio_type}}.html %}

</div>


</div>

<div class="container" style="padding:20px;">
  <div id="skills" class="section scrollspy">
   <h3 style="text-align:center;">Tools and Experience</h3>
   {% include skills.html %}
 </div>
</div>


  <div class="parallax-container not-landing valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{site.parallax_image_two}}" alt="Unsplashed background img 3"></div>
  </div>


<div class="container" style="padding:20px;">
  <div id="blog" class="section scrollspy">
  <h3 style="text-align:center;">Blog</h3>
  {% include blog-feed.html %}
</div>
</div>

<div class="container" style="padding:20px;">
  <div id="contact" class="section scrollspy">
  <h3 style="text-align:center;">Contact</h3>
  {% include contact.html %}
</div>
</div>




{% include nav-burger.html %}

{% include footer.html %}
